* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}

.header-fixed {
  position: sticky;
  top: 0px;
  z-index: 2;
  width: 100%;
}

.header-fixed .offer {
  background: #1CD1B0;
  font-size: 15px;
  padding: 10px;
} 

.header-fixed div:last-child {
  background: #00669F;
  font-size: 24px;
  padding: 12px 26px;
}

main {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  max-width: 850px;
}

.bg-hero {
  position: relative;
  width: 374px;
  height: 217px;
  background-image: url('../img/bg-batman.png');
  z-index: 1;
}

.bg-hero.arlequina {
  background-image: url('../img/bg-arlequina.png');
}

.hero-img {
  border-radius: 50%;
  position: absolute;
  bottom: -25%;
  right: 32%;
}

.card-container .card:first-child {
  margin-right: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  background: #F3F3F3;
  max-width: 375px;
  margin: 20px 0;
  box-shadow: 0px 2px 2px #c1c1c1;
}

.card.arlequina .text-card h2 {
  margin-top: 90px;
}

.text-card {
  margin: 50px auto;
  width: 300px;
  text-align: center;
}

.text-card h2 {
  margin: 70px 0 30px 0;
  font-weight: 500;
}

.text-card button {
  margin: 23px 0 20px 0;
  background: #00669F;
  color: #F3F3F3;
  border: none;
  padding: 17px 40px;
  cursor: pointer;
}

.icon-heart {
  position: absolute;
  left: 20px;
  top: 20px;
}

footer {
  color: #FFF9F9;
  background: #00669F;
  padding: 16px 28px;
}

@media (max-width: 480px) {
  .card-container {
    padding: 10px 0;
    flex-direction: column;
    justify-content: center;
    width: 90%;
  }

  .card {
    width: 90%;
  }
  
  .bg-hero {
    width: 100%;
  }
}